@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
    /* ... */
  }

  * {
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
  }

  .area-sale {
    grid-area: sale;
  }
  .area-newseason {
    grid-area: newseason;
  }
  .area-men {
    grid-area: men;
  }
  .area-accessories {
    grid-area: accessories;
  }
  .area-women {
    grid-area: women;
  }
  .area-shoes {
    grid-area: shoes;
  }
  .category-section {
    display: grid;
    grid-template-columns: repeat(4,310px);
    grid-template-rows: 310px 310px;
    grid-template-areas: 
      "sale newseason men accessories"
      "women newseason shoes shoes";
      gap: 20px;
  }

  .product-section {
    grid-template-columns: 192px 1fr 1fr;
  }
  .rainbow-text {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}